@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;1,600&display=swap');

body {
    color: white;
    background-color:  #121212;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-size: 25px;
    text-align: center;
}

.images ul {
    list-style: none;
    margin-top: 125px;
}

.images ul li a img {
    float: inline-start;
    margin: 6em;
}

.quote{
    text-align: center;
    margin-top: 150px;
}

#github {
    width: 100px;

}

#youtube {
    width: 100px;
}

#w3schools {
    width: 100px;
}

#codewars{
    width: 125px;
}

#cs50 {
    width: 100px;
}
#stackoverflow {
    width: 100px;
}
#quote-area{
    background-color:  #121212;
    color: white;
    font-family: Source Code Pro, monospace;
    font-style: italic;
    text-align: center;
    font-size: 60px;
    width: 75%;
    border: none;
    border-radius: 20px;
}
#generate{
    border-radius: 20px;
    height: 35px;
    width: 600px;
}
#generate:hover{
    background-color: gray;
}
#line{
    width: 70%;
}
